#mapError {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    color: #481e18;
    border: solid 3px #481e18;
    border-radius: 20px;
    width: 800px;
    height: 320px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#mapError a {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    color: #481e18;
}

#mappingToolsView {
    border: 0px;
}

#mappingToolsView .ui-tabs-nav {
    background-color: transparent;
}

#mappingLayout,
#mappingCanvas,
#mappyCanvas {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden !important;
    border: 0px !important;
}

#mappingToolsView,
#mappingToolsView .ui-widget-content {
    border: 0px !important;
}

.mappingPropsDialog {
    background-color: rgba(0, 0, 0, 0.7) !important
}

.mappingPropsDialog .ui-widget-content {
    background-color: rgba(0, 0, 0, 0) !important
}

.mappingPropsDialog .ui-widget-content a {
    color: #ffffff !important;
}

.mappingContextMenu .ui-helper-reset{
    padding-left: 0px !important;
}

.mappingContextMenu .ui-icon {
    padding-right: 5px;
}
