input,
select,
textarea,
button,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-header,
.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px !important;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a#arianeLogo{width: 30px; height: 30px; display: inline-block; background: url(../../images/ariane/logo-ariane.png) no-repeat; text-indent: -9000px; float: left; margin: 4px 20px 0 20px;
             position: absolute; left: 0; top: 0; z-index: 1111;}

body #menutop {
    padding-left:70px;
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px !important;
    color: #8f8f8f;
}

@font-face {
	font-family: 'arianeicons';
	src:url('../../fonts/arianeicons.eot?nszrjq');
	src:url('../../fonts/arianeicons.eot?#iefixnszrjq') format('embedded-opentype'),
		url('../../fonts/arianeicons.woff?nszrjq') format('woff'),
		url('../../fonts/arianeicons.ttf?nszrjq') format('truetype'),
		url('../../fonts/arianeicons.svg?nszrjq#arianeicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
