#mapError {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    color: #481e18;
    border: solid 3px #481e18;
    border-radius: 20px;
    width: 800px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#mapError a {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    color: #481e18;
}

.mappingPropsDialog {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.mappingPropsDialog.pui-shadow {
    box-shadow: 0px 0px 1px 0px #333 !important;
}

.mappingPropsDialog.ui-widget-content {
    border: 0px !important;
}

.mappingPropsDialog .ui-widget-content {
    background-color: rgba(0, 0, 0, 0) !important
}

.mappingPropsDialog .ui-widget-header {
    background: #333 !important;
}

.mappingPropsDialog .ui-widget-content a {
    color: #ffffff !important;
}

