#mappingToolsView {
    border: 0px;
}

#mappingToolsView .ui-tabs-nav {
    background-color: transparent;
}

#mappingLayout,
#mappingCanvas,
#mappyCanvas {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden !important;
    border: 0px !important;
}

#mappingToolsView,
#mappingToolsView .ui-widget-content {
    border: 0px !important;
}

.mappingPropsDialog {
    background-color: rgba(0, 0, 0, 0.7) !important
}

.mappingPropsDialog .ui-widget-content {
    background-color: rgba(0, 0, 0, 0) !important
}

.mappingPropsDialog .ui-widget-content a {
    color: #ffffff !important;
}
